
# Environments
GroundStation/.idea/
GroundStation/.env
GroundStation/.venv
GroundStation/env/
GroundStation/venv/
GroundStation/ENV/
GroundStation/env.bak/
GroundStation/venv.bak/
GroundStation/pythonenv*


### ROS ###
catkin_ws/devel/
catkin_ws/build/


### VisualStudioCode ###
catkin_ws/src/drone/src/__pycache__/
catkin_ws/src/drone/.vscode/
catkin_ws/src/drone/.idea/
catkin_ws/src/drone/!.vscode/tasks.json
catkin_ws/src/drone/!.vscode/launch.json
catkin_ws/src/drone/*.code-workspace