<launch>


    <param name="/physical/camera_angle" type="int" value="90"/>

    <param name="/run/armed" type="bool" value="False"/>

    <param name="/udp/timeout_threshold" type="double" value="2.0"/>

    <param name="/serial/flight_controller" type="string" value="ttyACM0"/>
    <param name="/serial/gps_vk" type="string" value="ttyACM1"/>


    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9090"/>
    </include>
    <node name="FlaskServer" pkg="drone" type="FlaskServerNode.py" output="screen"/>
    <node name="Interceptor" pkg="drone" type="InterceptorNode.py" output="screen"/>
    <node name="Dispatcher" pkg="drone" type="DispatcherNode.py" output="screen"/>
    <node name="Sonar" pkg="drone" type="SonarNode.py" output="screen"/>
    <node name="GPSProvider" pkg="drone" type="GPSNode.py" output="screen"/>

</launch>
